<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>File Lite - {{.Path}}</title>
{{template "style"}}
</head>
<body>
<div class="win">
<div class="title">File Lite</div>

<div class="toolbar">
<form class="inline right" method="post" action="/ie/logout">
<input type="hidden" name="csrf" value="{{.CSRF}}">
<input class="btn" type="submit" value="Sign out">
</form>
<a class="btn" href="/ie">Top</a>
{{if .Parent}}<a class="btn" href="/ie/browse?path={{.Parent | urlquery}}">Up</a>{{end}}
</div>

<table class="layout"><tr>
<td class="side">
<div class="group">Favourites</div>
<div class="panel">
{{if .Favourites}}<ul>{{range .Favourites}}<li><a class="side-link{{if eq . $.Path}} current{{end}}" title="{{.}}" href="/ie/browse?path={{. | urlquery}}">{{.}}</a></li>{{end}}</ul>{{else}}<p>none</p>{{end}}
</div>
<div class="group">Drives</div>
<div class="panel">
<ul>{{range .Drives}}<li><a class="side-link{{if eq .Path $.Path}} current{{end}}" title="{{.Path}}" href="/ie/browse?path={{.Path | urlquery}}">{{.Label}}</a></li>{{end}}</ul>
</div>
</td>

<td class="main">
<div class="path">{{.Path}}</div>
<div class="panel">
<table class="list">
<tr><th class="name">Name</th><th>Size</th><th>Modified</th></tr>
{{range .Entries}}<tr>
<td class="name">{{if .IsDir}}<a href="/ie/browse?path={{.Path | urlquery}}">{{.Name}}/</a>{{else}}<a href="/ie/download?path={{.Path | urlquery}}">{{.Name}}</a>{{end}}</td>
<td>{{.Size}}</td><td>{{.Time}}</td>
</tr>
{{end}}
</table>
</div>
<div class="status">
<span>{{len .Entries}} shown</span>
{{if .PageInfo}}<span>{{.PageInfo}}</span>{{end}}
{{if .PrevURL}}<a class="btn" href="{{.PrevURL}}">Prev</a> {{end}}
{{if .NextURL}}<a class="btn" href="{{.NextURL}}">Next</a>{{end}}
</div>
</td>
</tr></table>
</div>
</body>
</html>
