<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>File Lite - {{.Path}}</title>
{{template "style"}}
</head>
<body>
<div class="win">
<div class="title">File Lite</div>

<div class="toolbar">
<form class="inline right" method="post" action="/ie/logout">
<input type="hidden" name="csrf" value="{{.CSRF}}">
<input class="btn" type="submit" value="Sign out">
</form>
<a class="btn right" href="/">Modern</a>
<a class="btn" href="/ie">Home</a>
{{if .Parent}}<a class="btn" href="/ie/browse?path={{.Parent | urlquery}}">Up</a>{{end}}
</div>

<table class="layout"><tr>
<td class="side">
<div class="group">Favourites</div>
<div class="panel">
{{if .Favourites}}<ul>{{range .Favourites}}<li><a class="side-link{{if .Current}} current{{end}}" title="{{.Path}}" href="/ie/browse?path={{.Path | urlquery}}">{{.Label}}</a></li>{{end}}</ul>{{else}}<p>none</p>{{end}}
</div>
<div class="group">Drives</div>
<div class="panel">
<ul>{{range .Drives}}<li><a class="side-link{{if .Current}} current{{end}}" title="{{.Path}}" href="/ie/browse?path={{.Path | urlquery}}">{{.Label}}</a></li>{{end}}</ul>
</div>
</td>

<td class="main">
<div class="pathrow">
<form method="get" action="/ie/browse">
<input type="text" class="pathinput" name="path" value="{{.Path}}">
<input class="btn pathgo" type="submit" value="Go">
</form>
</div>
<div class="uploadrow">
<form class="inline right" method="post" action="/ie/mkdir?path={{.Path | urlquery}}{{if gt .Page 1}}&amp;page={{.Page}}{{end}}">
<input type="hidden" name="csrf" value="{{.CSRF}}">
<input type="text" name="name" size="10">
<input class="btn" type="submit" value="New folder">
</form>
<form class="inline" method="post" enctype="multipart/form-data" action="/ie/upload?path={{.Path | urlquery}}{{if gt .Page 1}}&amp;page={{.Page}}{{end}}">
<input type="hidden" name="csrf" value="{{.CSRF}}">
<input type="file" name="files" multiple>
<input class="btn" type="submit" value="Upload">
</form>
</div>
<div class="panel">
<table class="list">
<tr><th class="name">Name</th><th>Size</th><th>Modified</th><th class="act">Actions</th></tr>
{{range .Entries}}<tr>
<td class="name">{{if .IsDir}}<a href="/ie/browse?path={{.Path | urlquery}}">{{.Name}}/</a>{{else}}<a href="/ie/view?path={{.Path | urlquery}}" target="_blank" title="Open in a new window">{{.Name}}</a>{{end}}</td>
<td>{{.Size}}</td><td>{{.Time}}</td>
<td class="act"><a href="/ie/download?path={{.Path | urlquery}}">Download</a> <a href="/ie/rename?path={{.Path | urlquery}}{{if gt $.Page 1}}&amp;page={{$.Page}}{{end}}">Rename</a> <a href="/ie/delete?path={{.Path | urlquery}}{{if gt $.Page 1}}&amp;page={{$.Page}}{{end}}">Delete</a></td>
</tr>
{{end}}
</table>
</div>
<div class="status">
<span>{{len .Entries}} shown</span>
{{if .PageInfo}}<span>{{.PageInfo}}</span>{{end}}
{{if .Notice}}<span>{{.Notice}}</span>{{end}}
{{if .PrevURL}}<a class="btn" href="{{.PrevURL}}">Prev</a> {{end}}
{{if .NextURL}}<a class="btn" href="{{.NextURL}}">Next</a>{{end}}
</div>
</td>
</tr></table>
</div>
</body>
</html>
